#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none     &none  &none    &none     &none &none                           &none    &none  &none     &none             &none         &none
&kp TAB   &kp Q  &kp W    &kp E     &kp R &kp T                           &kp Y    &kp U  &kp I     &kp O             &kp P         &gresc 
&kp LCTRL &kp A  &kp S    &kp D     &kp F &kp G                           &kp H    &kp J  &kp K     &kp L             &kp SEMI      &kp MINUS 
&kp LSHFT &kp Z  &kp X    &kp C     &kp V &kp B    &kp LS(N9)  &kp LS(N0) &kp N    &kp M  &kp COMMA &kp DOT           &kp FSLH      &kp BSPC
&trans    &trans &kp PGDN &kp PG_UP &mo 1 &kp LWIN &lt 2 SPACE &lt 3 RET  &kp RALT &trans &trans    &kp RG(RA(SPACE)) &kp RA(SPACE) &trans
            >;
        };

        layer_1 {
            bindings = <
&trans         &trans         &trans       &trans     &trans     &trans                             &trans  &trans     &trans     &trans                &trans            &trans
&kp C_MUTE     &kp C_VOL_DOWN &kp C_VOL_UP &trans     &trans     &trans                             &trans  &trans     &trans     &trans                &trans            &trans
&trans         &trans         &trans       &mkp LCLK  &mkp RCLK  &trans                             &trans  &kp LEFT   &kp DOWN   &kp UP                &kp RIGHT         &trans
&trans         &trans         &trans       &trans     &trans     &trans       &trans        &trans  &trans  &trans     &trans     &trans                &trans            &bt BT_CLR
&kp LG(LS(N4)) &kp LG(LS(N5)) &kp END      &kp HOME   &trans     &bt BT_SEL 4 &bt BT_SEL 1  &trans  &trans  &trans     &trans     &kp RS(RG(RA(SPACE))) &kp RS(RA(SPACE)) &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans   &trans    &trans   &trans                      &trans      &trans   &trans    &trans    &trans         &trans
&trans  &kp N1     &kp N2   &kp N3    &kp N4   &kp N5                      &kp N6      &kp N7   &kp N8    &kp N9    &kp N0         &kp GRAVE
&none   &none      &none    &none     &none    &none                       &kp LS(SQT) &kp SQT  &none     &none     &none          &none
&trans  &kp SLASH  &kp STAR &kp MINUS &kp PLUS &kp EQUAL &kp LBRC &kp RBRC &kp AMPS    &kp PIPE &kp TILDE &kp CARET &kp BACKSLASH  &trans
&trans  &trans     &trans   &trans    &trans   &trans    &trans   &trans   &trans      &trans   &trans    &trans    &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans                   &trans     &trans     &trans     &trans     &trans     &trans
&trans  &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5)               &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &none
&trans  &trans     &trans     &mkp LCLK  &mkp RCLK  &trans                   &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans &trans &trans     &trans     &trans     &trans     &trans     &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans &trans &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };
    };
};
